@font-face {
  font-family: Montserrat-Regular;
  src: url(../fonts/Montserrat-Regular.otf);
}
@font-face {
  font-family: Montserrat-Bold;
  src: url(../fonts/Montserrat-Bold.otf);
}
@font-face {
  font-family: Montserrat-Black;
  src: url(../fonts/Montserrat-Black.otf);
}

body, ul, div, img, h1, h2, h3, h4, h5, h6, p, span {
  margin: 0;
  padding: 0;
  font-family: Montserrat-Regular;
}
body {
  background: #f5f5f5;
  overflow-x: hidden;
}
ul {
  list-style-type: none;
  display: flex;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0 auto;
}

.container--row {
  display: flex;
}

.container--main {
  margin-top: 30px;
}

.container--align-center {
  height: 100%;
  align-items: center;
}

.container--relative {
  position: relative;
}

.banner {
  width: 100%;
  height: 840px;
  overflow: hidden;
}
.banner-top {
  background: #191919;
  color: #8e8e8e;
  height: 40px;
  border: none;
}
.banner-top-socials {
  list-style-type: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(50%);
  display: flex;
}
.banner-top-socials li {
  display: inline-block;
}
.banner-top-socials a {
  margin-right: 15px;
  color: #8e8e8e;
  font-size: 16px;
}

.banner-top-setting {
  position: absolute;
  width: 200px;
  height: 40px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
}
.banner-top-setting span {
  font-size: 16px;
}

.banner-top-setting i {
  font-size: 18px;
}
.banner-top-setting__sign {
  width: 85px;
  border-right: 1px solid #545454;
  display: inline-block;
  padding-right: 15px;
}

.banner-top-setting__sign i {
  font-size: 18px;
}

.banner-top-setting__sign i {
  font-size: 18px;
}

.banner-top-setting__language {
  position: relative;
  margin-left: 12px;
}



.banner-top-setting__language select {
  background: transparent;
  border: none;
  color: #adadad;
  display: absolute;
  width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  margin-left: 10px;
}

.banner-top-setting__language i {
  font-size: 18px;

}

.banner-top-setting__language i:first-child {
  margin-top: 3px;
}

.banner-top-setting__language i.icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.banner-slider {
  position: relative;
  height: 800px;
}

.banner-slider__image {
  position: absolute;
  width: 100%;
  height: 100%;
}

.banner-header {
  position: absolute;
  top: 0;
  max-width: 1170px;
  width: 100%;
  height: 70px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.banner-header__logo {
  font-family: Montserrat-Bold;
  font-size: 16px;
  color: #fff;
  width: 20%;
  display: flex;
  justify-content: flex-start;
}
.banner-header-menu {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.banner-header-menu__item {
  margin: auto 15px;
  height: 70px;
  box-sizing: border-box;
  padding: 26px 0;
  border-bottom: 3px solid transparent;
  cursor: pointer;
}

.banner-header-menu__item:hover {
  border-color: #ff4081;
}

.banner-header-menu__item--active {
  border-color: #ff4081;
}

.banner-header-menu__item a {
  text-decoration: none;
  color: #fff;
  height: 100%;
  font-family: Montserrat-Bold;
}

.banner-header-icons {
  /* width: 100%; */
  color: #fff;
  font-size: 16px;
  justify-content: flex-end;
}

.banner-header-icons__item {
  border-right: 1px solid #5c5c5b;
}

.banner-header-icons__item:last-child {
  border-right: none;
}

.banner-header-icons__item .material-icons {
  color: #fff;
  margin: 0 15px;
}

.banner-slider-main {
  height: 800px;
  position: relative;
}

.banner-slider-main-arrow {
  color: #fff;
  font-size: 42px;
  cursor: pointer;
}

.banner-slider-main-arrow__left {
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-slider-main-arrow__right {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
}

.banner-slider-main-slogan {
  position: absolute;
  width: 100%;
  top: 285px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.banner-slider-main-slogan h3 {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
}

.banner-slider-main-slogan h1 {
  text-transform: uppercase;
  font-family: Montserrat-Black;
  font-size: 42px;
  margin-bottom: 30px;
}

.banner-slider-main-slogan button {
  width: 170px;
  height: 45px;
  background: #303f9f;
  color: white;
  border: none;
  border-radius: 22.5px;
  font-size: 18px;
}

.banner-slider-main-author {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 70px;
  text-align: center;
  color: #fff;
}

.banner-slider-main-author img {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  margin-bottom: 20px;
}

.banner-slider-main-author__name {
  font-size: 14px;
  font-family: Montserrat-Bold;
  margin-bottom: 10px;
}

.banner-slider-main-author__date {
  font-size: 12px;
  margin-bottom: 25px;
}

.banner-slider-main-author-react {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 16px;
}

.banner-slider-main-author-react span {
  font-size: 12px;
  margin-bottom: 5px;
}

.banner-slider-main-author-react i {
  font-size: 16px;
  margin-top: 5px;
}

.banner-slider-main-author-react__comment {
  margin-right: 30px;
}

.sort {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}

.sort__text {
  font-size: 16px;
  color: #404040;
  font-family: Montserrat-Black;
  margin-right: 15px;
}

.sort-list__item {
  height: 30px;
  width: auto;
  padding: 0 30px;
  color: #3d3d3d;
  background: #ccc;
  border-radius: 15px;
  border: 1px solid #ccc;
  margin-right: 15px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

.sort-list__item--active {
  background: #fff;
  color: #3f51b5;
  border-color: #3f51b5;
}

.sort-list__item a {
  color: inherit;
  font-size: inherit;
}

.main {
  width: 820px;
  margin-bottom: 40px;
}

.main-article {
  width: 100%;
  margin-bottom: 20px;
  background: #fff;
  box-sizing: border-box;
}

.main-article--horizontal {
  height: 165px;
  display: flex;
}

.main-article--small {
  width: 260px;
  height: 420px;
  display: inline-block;
  margin-right: 15.3px;
}

.main-article--hafl {
  width: 400px;
  height: 540px;
  display: inline-block;
  margin-right: 15px;
}

.main-article--no-margin {
  margin-right: 0;
}

.main-article-image {
  position: relative;
  height: 420px;
}

.main-article--horizontal .main-article-image,
.main-article--small .main-article-image {
  min-width: 260px;
  width: 260px;
  height: 165px;
}

.main-article--hafl .main-article-image {
  height: 300px;
}

.main-article-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-article-image__play {
  position: absolute;
  color: #fff;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 3;
}

.main-article--horizontal .main-article-image__play,
.main-article--small .main-article-image__play {
  font-size: 40px;
}

.main-article-image__play:hover {
  opacity: 0.6;
}

.main-article-image__mask {
  z-index: 2;
}

.main-article-image__photo {
  z-index: 1;
}

.main-article-image__type {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  z-index: 9;
}

.main-article-image-react {
  position: absolute;
  right: 20px;
  bottom: 18px;
  color: #fff;
  font-size: 12px;
  display: flex;
  z-index: 9;
}

.main-article-image-react i {
  font-size: 15px;
  margin-right: 4px;
  cursor: pointer;
}

.main-article--half .main-article-image__type,
.main-article--half .main-article-image-react,
.main-article--small .main-article-image__type,
.main-article--small .main-article-image-react,
.main-article--horizontal .main-article-image__type,
.main-article--horizontal .main-article-image-react {
    bottom: 15px;
}

.main-article-image-react__comment {
  margin-right: 20px;
}

.main-article-detail {
  border: 1px solid #e0e0e0;
  border-width: 0 1px 1px 1px;
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.main-article--horizontal .main-article-detail {
  height: 166px;
  width: 100%;
  border-width: 0 1px 1px 0;
  border-radius: 0 4px 4px 0;
}

.main-article--small .main-article-detail {
  height: 260px;
}

.main-article--hafl .main-article-detail {
  height: 240px;
}

.main-article-detail__content {
  border-bottom: 1px solid #e0e0e0;
  padding: 18px 20px;
  height: 108px;
  box-sizing: border-box;
}

.main-article--horizontal .main-article-detail__content {
  height: 95px;
  padding: 10px 20px;
}

.main-article--small .main-article-detail__content {
  height: 175px;
  padding: 10px 20px;
}

.main-article--hafl .main-article-detail__content {
  height: 160px;
  padding: 10px 20px;
}

.main-article-detail__content h3 {
  font-size: 18px;
  font-family: Montserrat-Bold;
  margin-bottom: 8px;
}

.main-article--horizontal .main-article-detail__content h3 {
  font-size: 16px;
}

.main-article--small .main-article-detail__content h3 {
  font-size: 14px;
}

.main-article--half .main-article-detail__content h3 {
  font-size: 15px;
}

.main-article-detail__content p {
  font-size: 16px;
}

.main-article--horizontal .main-article-detail__content p,
.main-article--small .main-article-detail__content p {
  font-size: 13px;
}

.main-article--hafl .main-article-detail__content p {
  max-height: 95px;
  overflow: hidden;
  font-size: 15px;
}

.main-article-detail-author {
  height: 92px;
  position: relative;
  box-sizing: border-box;
}

.main-article--horizontal .main-article-detail-author {
  height: 70px;
  box-sizing: border-box;
}

.main-article--small .main-article-detail-author {
  height: 84px;
  box-sizing: border-box;
}

.main-article--hafl .main-article-detail-author {
  height: 80px;
}

.main-article-detail-author img {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;
}

.main-article-detail-author i {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 24px;
  color: #000;
  cursor: pointer;
}

.main-article-detail-author__info {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
}

.main-article-detail-author__info h5 {
  font-size: 14px;
  color: #404040;
  margin-bottom: 5px;
}

.main-article-detail-author__info span {
  font-size: 12px;
  color: #bbb;
}

.main__more {
  float: right;
  color: #3f51b5;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}

.main__more span {
  margin-right: 10px;
  font-size: 16px;
}

.main__more span:hover {
  /* box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1); */
  text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.main__more i {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: #fff;
  font-size: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main__more i:focus {
  outline: none;
}

.main__more i:active {
  background: #3f51b5;
  color: #fff;
  /* transition-delay: 2s; */
}

.sub {
  width: 312px;
  margin-left: auto;
  padding-top: 25px;
  padding-left: 40px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 4px 0 0 0;
  position: relative;
}

.sub__bg {
  position: absolute;
  background: #fff;
  width: 2000px;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 4px 0 0 0;
  z-index: -99;
}

.sub-search {
  width: 100%;
  height: 42px;
  box-sizing: border-box;
  border: none;
  border-radius: 21px;
  background: #f5f5f5;
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.sub-search input {
  width: 70%;
  background: transparent;
  border: none;
  font-size: 16px;
}

.sub-search input:focus {
  outline: none;
}

.sub-search span {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  background: #ff4081;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
}

.sub h3 {
  width: 100%;
  font-size: 18px;
  color: #3f51b5;
  font-family: Montserrat-Bold;
  border-bottom: 1px solid #aec3ff;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.sub-categories {
  width: 100%;
  display: block;
  margin-bottom: 30px;
}

.sub-categories-item {
  position: relative;
  height: 40px;
  width: 100%;
  border-bottom: 1px solid #ebeae9;
  font-size: 14px;
}

.sub-categories-item:last-child {
  border: none;
}

.gallary {
  width: 100%;
  margin: 0;
  padding: 0;
}

.gallary img {
  width: 12.5%;
  margin-right: -4px;
  margin-bottom: -4px;
}

.sub-subcribe {
  width: 100%;

}

.sub-subcribe p {
  margin: 15px 0;
}

.sub-subcribe input {
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding-left: 16px;
  font-family: Montserrat-Regular;
}

.sub-subcribe input:placeholder {
  color: #bbb;
}

.sub-subcribe button {
  height: 45px;
  width: 100%;
  background: #3f51b5;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 10px 0;
}

.sub-categories-item a {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #404040;
}

.sub-categories-item span {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #404040;
  font-family: Montserrat-Bold;
}

.sub-hr {
  position: relative;
  margin: 20px 0;
}

.sub-hr__text {
  position: absolute;
  width: 30px;
  text-align: center;
  background: #fff;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

.sub-hr__line {
  position: absolute;
  width: 100%;
  height: 1px;
  box-sizing: border-box;
  border-bottom: 1px solid #757575;
  top: 50%;
  transform: translateY(-50%);
}

.sub-socials {
  margin: 45px 0;
}

.sub-socials__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  position: relative;
  margin-right: 10px;
}

.sub-socials__icon:last-child {
  margin: 0;
}

.sub-socials__icon i {
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.sub-tab {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #3f51b5;
  display: flex;
  padding: 0;
}

.sub-tab-item {
  width: 50%;
  text-align: center;
  margin: 0;
  color: #3f51b5;
  background: transparent;
  border: none;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sub-tab-item--active {
  background: #3f51b5;
  color: #fff;
}

.sub-post {
  width: 100%;
  display: block;
}

.sub-post-list {
  width: 100%;
  display: none;
}

.sub-post-list--active {
  display: block;
}

.sub-post-list-element {
  height: 80px;
  width: 100%;
  position: relative;
  margin-top: 15px;
  padding-bottom: 15px;
}

.sub-post-list-element:not(:last-child) {
  border-bottom: 1px solid #dee5e9;
}

.sub-post-list-element img {
  width: 100px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
}

.sub-post-list-element_detail {
  position: relative;
  margin-left: 115px;
  /* border: 1px solid red; */
}

.sub-post-list-element_detail__date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
}

.sub-post-list-element_detail__comment {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
}

.sub-post-list-element_detail__comment i {
  margin-right: 5px;
  color: #3f51b5;
  font-size: 17px;
}

.sub-post-list-element_detail h4 {
  position: absolute;
  top: 20px;
  left: 0;
  font-size: 14px;
}

.sub-tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.sub-tags div {
  font-size: 14px;
  color: #3b3b3b;
  background: #eee;
  border-radius: 4px;
  padding: 7px 17px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.subcribe {
  height: 200px;
  width: 100%;
  background: url('../images/img_subcribe_bg.png');
  display: flex;
  align-items: center;
  position: relative;
}

.subcribe h1 {
  font-family: Montserrat-Black;
  font-size: 42px;
  color: #fff;
}

.subcribe__box {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: flex-end;
}

.subcribe__box input {
  margin-right: 30px;
  width: 270px;
  height: 45px;
  border-radius: 22.5px;
  box-sizing: border-box;
  border: 1px solid #747779;
  font-size: 16px;
  color: #acacad;
  padding-left: 20px;
  background: transparent;
}

.subcribe__box button {
  width: 170px;
  height: 45px;
  border-radius: 22.5px;
  box-sizing: border-box;
  border: none;
  background: #303f9f;
  font-size: 14px;
  color: #fff;
}

.subcribe__box input:focus,
.subcribe__box button:focus {
  outline: none;
}

.widget {
  width: 100%;
  height: 540px;
  padding: 50px 0 70px;
  background: #212121;
  box-sizing: border-box;
}

.widget-col {
  width: 23%;
  min-height: 100px;
  margin-right: auto;
}

.widget-col:last-child {
  margin-right: 0;
}

.widget-col:first-child {
  /* margin-right: 30px; */
}

.widget-col h3 {
  font-family: Montserrat-Bold;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.widget-col-pages {
  display: block;
}

.widget-col-pages-item {
  display: block;
  margin-bottom: 5px;
  border: 1px solid #757575;
  border-radius: 4px;
  cursor: pointer;
}

.widget-col-pages-item__parent {
  display: block;
  width: 100%;
  height: 45px;
  box-sizing: border-box;
  padding: 0 15px;
  color: #cecece;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.widget-col-pages-item__parent--active {
  /* border-radius: 4px 4px 0 0; */
}

.widget-col-pages-item__parent label {
  font-family: Montserrat-Bold;
  font-size: 14px;
}

.widget-col-pages-item__parent i {
  position: absolute;
  right: 15px;
  font-size: 24px;
}

.widget-col-pages-item__parent--active {
  border-radius: 4px 4px 0 0;
}

.widget-col-pages-item__child {
  width: 100%;
  box-sizing: border-box;
  display: none;
  border-top: 1px solid #757575;
  margin-top: 0;
  padding: 3px 15px;
}

.widget-col-pages-item__child--active {
  display: block;
}

.widget-col-pages-item__child li {
  margin: 12px 0;
  cursor: pointer;
}

.widget-col-pages-item__child a {
  color: #a9a9a9;
  font-size: 14px;
}

.widget-col-comment {
  display: block;
  margin-bottom: 10px;
}

.widget-col-comment-item {
  border-bottom: 1px solid #3c3c3c;
  padding-bottom: 15px;
  margin-bottom: 14px;
}

.widget-col-comment-item:last-child {
  border: none;
}

.widget-col-comment__line {
  display: flex;
  margin-bottom: 5px;
}

.widget-col-comment__line p {
  font-size: 14px;
  color: #cecece;
}

.widget-col-comment__line i {
  font-size: 24px;
  margin: 0 12px 0 15px;
}

.widget-col-comment__line i.fa-twitter {
  color: #55acee;
}

.widget-col-comment-option {
  display: flex;
}

.widget-col-comment-option__time {
  width: 40%;
}


.widget-col-comment-option__time span {
  font-size: 12px;
  color: #cecece;
  margin-right: 5px;
}

.widget-col-comment-option__action {
  width: 60%;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-col-comment-option__action li {
  margin-right: auto;
}

.widget-col-comment-option__action li:last-child {
  margin-right: 0;
}

.widget-col-comment-option__action a {
  text-decoration: underline;
  text-decoration-color: #cecece;
  color: #cecece;
  font-size: 12px;
}

.widget-col-socials {
  margin-top: -15px;
}

.widget-col-socials__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: none;
  background: #ccc;
  position: relative;
}

.widget-col-socials__icon--bg-fb {
  background: #3b5999;
}

.widget-col-socials__icon--bg-tw {
  background: #55acee;
}

.widget-col-socials__icon--bg-ins {
  background: #34465d;
}

.widget-col-socials__icon--bg-gg {
  background: #dc1313;
}

.widget-col-socials__icon--bg-pin {
  background: #ff2e56;
}

.widget-col-socials__icon:not(:last-child) {
  margin-right: 10px;
}

.widget-col-socials__icon i {
  color: #fff;
  font-size: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.widget-col-flickr {
  width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.widget-col-flickr__image {
  width: 86px;
  height: 86px;
  margin-bottom: 6px;
}

.widget-col-flickr__image:not(:nth-child(3n+1)) {
  margin-left: auto;
}

.widget-col-letter input, textarea {
  width: 100%;
  height: 45px;
  border: 1px solid #757575;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 0 15px;
  font-size: 14px;
  font-family: Montserrat-Regular;
  color: #cecece;
  background: transparent;
  margin-bottom: 10px;
  padding: 15px;
  resize: none;
  overflow: hidden;
}

.widget-col-letter textarea {
  height: 120px;
}

.widget-col-letter textarea:placeholder {
  font-size: 14px;
  font-family: Montserrat-Black;
}

.widget-col-letter button {
  width: 100%;
  height: 45px;
  border-radius: 4px;
  background: #303030;
  text-transform: uppercase;
  color: #fff;
  border: none;
  font-size: 15px;
  margin-top: -4px;
}

.footer {
  width: 100%;
  height: 80px;
  background: #303030;
  display: flex;
  align-items: center;
}

.footer-menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-menu-item a {
  color: #fff;
  margin-right: 35px;
  text-transform: uppercase;
  font-size: 12px;
  font-family: Montserrat-Bold;
}

.footer-option {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.footer-option__search {
  position: relative;
  width: 220px;
  height: 35px;
  border: 1px solid #7f7f7f;
  font-size: 14px;
  color: #7f7f7f;
  background: transparent;
  border-radius: 17.5px;
  margin-right: 70px;
}

.footer-option__search input {
  position: absolute;
  width: 70%;
  height: 100%;
  padding-left: 20px;
  background: transparent;
  border: none;
  color: #7f7f7f;
}

.footer-option__search i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 12px;
}

.footer-option__search input:focus {
  outline: none;
}

.footer-option__language {
  background: transparent;
  border: none;
  color: #adadad;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer-option__language select {
  background: transparent;
  border: none;
  color: #adadad;
  display: absolute;
  width: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  margin-left: 10px;
}

.footer-option__language i {
  font-size: 18px;
}

.footer-option__language i.icon-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.test {
  border: 1px dashed red;

}
